extends layout/app
block var
    - let pageTitle = "Bosh sahifa";
block main 
    .start 
        .start__container 
            .start__text 
                .start__title
                    span= siteName 
                .start__auther 
                    h1 Alexa Williams 
                .start__social 
                    a(href="#")
                        i.fa-brands.fa-facebook  
                    a(href="#")
                        i.fa-brands.fa-youtube   
                    a(href="#")
                        i.fa-brands.fa-instagram  
                    a(href="#")
                        i.fa-brands.fa-pinterest  
                    a(href="#")
                        i.fa-brands.fa-github  
    
